<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Beacon1</key>
	<dict>
		<key>uuidString</key>
		<string>ACFD065E-C3C0-11E3-9BBE-1A514932AC01</string>
		<key>major</key>
		<string>1</string>
		<key>minor</key>
		<string>25090</string>
		<key>identifier</key>
		<string>de.th-owl.fb2.id_beacon</string>
		<key>ortID</key>
		<string>1</string>
	</dict>
	<key>Beacon2</key>
	<dict>
		<key>uuidString</key>
		<string>ACFD065E-C3C0-11E3-9BBE-1A514932AC01</string>
		<key>major</key>
		<string>1</string>
		<key>minor</key>
		<string>21788</string>
		<key>identifier</key>
		<string>de.th-owl.fb2.id_beacon</string>
		<key>ortID</key>
		<string>2</string>
	</dict>
	<key>Beacon3</key>
	<dict>
		<key>uuidString</key>
		<string>ACFD065E-C3C0-11E3-9BBE-1A514932AC01</string>
		<key>major</key>
		<string>1</string>
		<key>minor</key>
		<string>25088</string>
		<key>identifier</key>
		<string>de.th-owl.fb2.id_beacon</string>
		<key>ortID</key>
		<string>3</string>
	</dict>
</dict>
</plist>
