<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>questions</key>
	<array>
		<dict>
			<key>Frage</key>
			<string>Welches bekannte Filmwerk basiert auf wahren Begebenheiten und handelt von den Ermittlungen gegen einen Serienkiller?</string>
			<key>Antworten</key>
			<array>
				<string>Se7en</string>
				<string>Silence of the Lambs</string>
				<string>Zodiac - die Spur des Killers</string>
			</array>
			<key>richtig</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Frage</key>
			<string>Wie heißt der Serienmörder aus der Horrorfilmreihe Halloween?</string>
			<key>Antworten</key>
			<array>
				<string>Michael Myers</string>
				<string>Jason Voorhees</string>
				<string>Freddy Krueger</string>
			</array>
			<key>richtig</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Frage</key>
			<string>In der Serie Breaking Bad entwickelt sich der Hauptcharakter Walter White von einem Chemielehrer zu einem Drogenboss. Welcher Name wird ihm in der kriminellen Unterwelt gegeben?</string>
			<key>Antworten</key>
			<array>
				<string>The Chemist</string>
				<string>Heisenberg</string>
				<string>Eisenhower</string>
			</array>
			<key>richtig</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
