<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ort1</key>
	<array>
		<string>Ms. Green wurde während der Tatzeit im Garten gesehen.</string>
		<string>Ms. Green wurde während der Tatzeit im Garten gesehen.</string>
	</array>
	<key>Ort2</key>
	<array>
		<string>Ms. Green wurde während der Tatzeit im Garten gesehen.</string>
		<string>Ms. Green wurde während der Tatzeit im Garten gesehen.</string>
	</array>
	<key>Ort3</key>
	<array>
		<string>Ms. Green wurde während der Tatzeit im Garten gesehen.</string>
		<string>Ms. Green wurde während der Tatzeit im Garten gesehen.</string>
	</array>
</dict>
</plist>
