<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Orte</key>
	<array>
		<dict>
			<key>ortID</key>
			<integer>0</integer>
			<key>name</key>
			<string>Mac-Raum</string>
			<key>picture</key>
			<string>Kamera</string>
			<key>quizNo</key>
			<integer>0</integer>
			<key>indizien</key>
			<array>
				<string>Indiz 1</string>
				<string>Indiz 2</string>
				<string>Indiz 3</string>
			</array>
			<key>beaconMajor</key>
			<integer>1</integer>
			<key>beaconMinor</key>
			<integer>21788</integer>
		</dict>
		<dict>
			<key>ortID</key>
			<integer>1</integer>
			<key>name</key>
			<string>Küche</string>
			<key>picture</key>
			<string>Kopfhörer</string>
			<key>quizNo</key>
			<integer>1</integer>
			<key>indizien</key>
			<array>
				<string>Indiz 1</string>
				<string>Indiz 2</string>
				<string>Indiz 3</string>
			</array>
			<key>beaconMajor</key>
			<integer>1</integer>
			<key>beaconMinor</key>
			<integer>25090</integer>
		</dict>
		<dict>
			<key>ortID</key>
			<integer>2</integer>
			<key>name</key>
			<string>Garten</string>
			<key>picture</key>
			<string>Schere</string>
			<key>quizNo</key>
			<integer>2</integer>
			<key>indizien</key>
			<array>
				<string>Indiz 1</string>
				<string>Indiz 2</string>
				<string>Indiz 3</string>
			</array>
			<key>beaconMajor</key>
			<integer>1</integer>
			<key>beaconMinor</key>
			<integer>25088</integer>
		</dict>
	</array>
</dict>
</plist>
