<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ort1</key>
	<dict>
		<key>ortID</key>
		<string>1</string>
		<key>name</key>
		<string>Mac-Raum</string>
		<key>picture</key>
		<string>Explanation1</string>
	</dict>
	<key>Ort2</key>
	<dict>
		<key>ortID</key>
		<string>2</string>
		<key>name</key>
		<string>Mac-Raum</string>
		<key>picture</key>
		<string>Explanation2</string>
	</dict>
	<key>Ort3</key>
	<dict>
		<key>ortID</key>
		<string>3</string>
		<key>name</key>
		<string>Mac-Raum</string>
		<key>picture</key>
		<string>Explanation3</string>
	</dict>
</dict>
</plist>
